<!--&lt;!&ndash; Toolbar &ndash;&gt;-->
<!--<mat-toolbar color="primary" class="app-header">-->
<!--  <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div>-->
<!--  <span class="nav-tool-items">-->
<!--    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>-->
<!--    <a mat-button mat-raised-button routerLink="list-user" routerLinkActive="active">Register</a>-->
<!--  </span>-->
<!--</mat-toolbar>-->
<app-navbar *ngIf="estConnecter()"></app-navbar>
<div>
  <app-login *ngIf="!estConnecter()"> </app-login>
  <router-outlet *ngIf="estConnecter()"></router-outlet>
</div>
