<div class="container text-center mt-5">
    <h1>Liste de la promotion</h1><br>
    <h2>Cohorte 3</h2>
  <div class="row">
    <button type="button" class="btn btn-outline-secondary  mb-5"><i class="fas fa-user-plus"></i> Add-user</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>avatar</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>avatar1</td>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>avatar2</td>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>avatar3</td>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>


